*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #343434;
}
.car{
  position: relative;
  max-width: 600px;
  width: 80%;
  overflow: hidden;
}
.img-container{
  display: flex;
  transition: transform 0.5s ease;
}
img{
  width: 100%;
  height: auto;
}
.btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #343434;
  font-size: 2.5rem;
  color: aliceblue;
}
.btn:hover{
  color: red;
}
.btn.right{
  right: 15px;
}
.btn.left{
  left: 15px;
}